.footer {
    padding: 120px 0;
    background-image: url(../../img/footer_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    ul {
        padding-left: 0;
    }
    
    &-heading {
        font-size: 21.25px;
        color: $white-color;
        font-weight: 700;
        margin-bottom: 30px;
    }
    
    &-item {
        i {
            padding-right: 11px;
            width: 15px;
            height: 15px;
        }
        color: $white-color;
        font-size: 13.5px;
        margin-bottom: 15px;
    }
    
    &-socials {
        margin-top: 30px;
        a {
            color: $white-color;
            padding-right: 15px;
            font-size: 13px;
            transition: all .4s ease;
            &:hover {
                color: #000;
            }
        }
    }
    
    &-menu {
        display: inline-block;
        min-width: 56px;
        .menu-item {
            padding: 12px 0;
            border-bottom: 1px solid rgba(0,0,0,.1);
            &:nth-child(1) {
                padding-top: 0;
            }
            .item-link {
                color: $white-color;
                font-size: 13.5px;
                display: inline-block;
                min-width: 56px;
                transition: all 200ms ease;
                &:hover {
                    opacity: .8;
                }
            }     
        }
    }
    
    &-input {
        margin-top: 49px;
        input {
            text-align: center;
            outline: none;
            padding: 15px;
            background-color: #AA017E;
            border: none;
            caret-color: $white-color;
            transition: all 500ms ease;
            border: 1px solid rgba(255,255,255,.1);
            border-radius: 50px;
            &::placeholder {
                color: $white-color;
            }
            &:focus {
                border: 1px solid #fff;
            }
        }
        
        a {
            text-transform: uppercase;
            width: 230px;
            font-weight: 600;
            margin-top: 8px;
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }
}