.navbar {
  height: 80px;
  padding: 0;

  img {
    display: block;
    width: 80px;
    height: 80px;
  }

  &-nav {
    gap: 0 50px;

    .nav-item:nth-child(1) {
      .my-nav__link {
        color: $text-color;
        font-size: 13px;
        font-weight: 600;
        line-height: 80px;
        position: relative;
        display: block;

        &:hover {
          color: $primary-color;
          transition: 0.2s;
          &::after {
            transform: scale(1.5);
          }
        }

        &::after {
            content: "";
            display: block;
            background-color: $primary-color;
            height: 8px;
            width: 8px;
            border-radius: 50%;
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -4px;
            transition: 300ms ease all;
            transform: scale(1);
        }
      }
    }
    .my-nav__link {
      color: $text-color;
      font-size: 13px;
      font-weight: 600;
      line-height: 80px;
      position: relative;
      display: block;
      text-transform: capitalize;

      &:hover {
        color: $primary-color;
        transition: 0.2s;
        &::after {
          transform: scale(1.5);
        }
      }

      &::after {
        content: "";
        display: block;
        background-color: $primary-color;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transition: 300ms ease all;
        transform: scale(0) translateX(-50%);
      }
    }
  }

  .nav-info {
    margin-left: 50px;
    .nav-button {
      margin-right: 6px;
    }

    .nav-socials {
      .nav-social__link {
        margin-left: 12px;
        font-size: 15px;
        color: $text-color;
        transition: all 100ms linear;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}
